/* timer section */
body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: sans-serif;
}

#settings {
  text-align: center;
}

#settings-table {
  margin-left: auto;
  margin-right: auto;
}

#countdown {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

#countdown-number {
  fill: gray;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: relative;
  margin: auto;
  display: block;
  width: 250px;
  height: 250px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg text {
  transform-origin: center;
  transform: rotate(90deg) scale(-1, 1);
  font: bold 30px sans-serif;
}

.animate {
  stroke-dasharray: 628px;
  /* stroke-dashoffset: 0px; */
  stroke-linecap: butt;
  stroke-width: 6px;
  stroke: red;
  fill: none;
  /* animation: countdown 10s linear infinite forwards; /* time needs to be user input */
  animation-name: countdown;
  /*animation-iteration-count: infinite;*/
  animation-timing-function: linear;
  /* animation-duration: 20s;*/
  animation-play-state: paused;
}

@keyframes countdown {
  from {
    stroke-dashoffset: var(--circleBarOffset);
  }
  to {
    stroke-dashoffset: 628px; /* needs to be calculated, not hard coded in */
  }
}

#toggle-div {
  text-align: center;
}
/* sidebar section */
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ecf0f1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar button {
  padding: 8px 8px 8px 8px;
  margin: 10px;
  width: 90%;
  background-color: #bdc3c7;
  border: solid;
  border-radius: 5px;
  border-color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  white-space: nowrap; /* Stop text from wrapping during animation */
}

/* When you mouse over the navigation links, change their color */
.sidebar button:hover {
  background-color: #8eccff;
}

/* The button used to open the sidebar */
#openButton {
  /* position: fixed; */
  position: sticky;
  font-size: 45px;
  cursor: pointer;
  color: black;
  padding-left: 15px;
  transition: 0.5s;
  z-index: 2;
}

#display {
  /* position: fixed; */
  position: static;
  left: 50%;
}

.content {
  display: none;
}

#timer {
  display: block;
}
/* task list section */
.task-input-field {
  margin: 10px;
}

.task-list {
  width: 700px;
  margin: 20px auto;
  padding: 10px 0px;
}

.task-inputs {
  margin: 50px auto 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --circleBarOffset: 0px;
}